*{
    margin: 0;
    padding: 0;
}
.header_part{
    text-align: center;
    background-color: #557571;
    font-style: italic;
    -webkit-box-shadow: -1px 7px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 13px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 13px 0px rgba(0,0,0,0.75);
}
h2{
    line-height: 65px;
    height: 65px;
    color: white;
    font-weight: bold;
}
